#footer{
    background-color: rgba(4,92,80,255);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
  }
  .column1{
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .logob{
    text-align: center;
  
  }
  .line1 {
    width: 100%;  
    height: 1px;  
    border-top: 1px solid #ccc; 
  }
  #fa-icons{
    display: flex;
    justify-content: space-evenly;
  }
  #expert{
    display: flex;
    justify-content: space-between;
    padding: 1px;
  }
  #icon2{
    padding-right: 10px;
    color: rgba(4,92,80,255);
  }
  .mainFooter{
    background-color: rgb(11,92,80);
  }
  .downLogo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #bottomLogo{
    height: 130px;
  }
  .bottom-line{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
  }
  #address{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #address-part{
    padding-left: 100px;
  }
  #add-details{
    color: white;
    font-size: 14px;
  }
  #address1{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
  }
  #footer-part{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  #newsletter{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #newsletter-text{
    color: white;
    font-size: 14px;
  }
  #email-part{
    background-color: rgb(16,82, 73);
    max-height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  #email-part1{
    background-color: rgb(16,82, 73);
    max-height: 40px;
    border: none;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    
  }
  #for-padding{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  #submit-but{
    background-color: rgb(247, 173, 64);
    border-radius: 25px;
    width: 120px;
    margin: 5px;
    height: 40px;
    color: white;
    font-size: 14px;
  }
  #social-part{
    padding-right: 100px;
  }
  #social{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #icons-used{
    display: flex;
    justify-content: space-between;
  }
  #icon1{
    color: white;
    
  }
  .fa-brands{
    padding-right: 5px;
  }
  .icon-div{
    margin: 3px;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
    padding:2px;
    padding-left: 8px;
  }
  .we-accept{
    padding-top: 30px;
  }
  #logos-used{
    display: flex;
    justify-content: space-between;
  }
  #iimg{
    padding: 3px;
    padding-left: 10px;
  }
  #final-content{
    background-color: rgb(9,55,48);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  #down-contents{
    color: white;
    padding-left: 100px;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    gap: 25px;
    
  }
  #copyright{
    color: rgb(189,203,201);
    font-size: 12px;
    padding-right: 100px;
  }
  #padding-set{
    padding-left: 30px;
    padding-right: 30px;
  }